[submodule "thirdparty/flink"]
	path = thirdparty/flink
	url = https://github.com/rch/asf-flink.git
[submodule "thirdparty/iceberg"]
	path = thirdparty/iceberg
	url = https://github.com/apache/iceberg.git
[submodule "thirdparty/nifi"]
	path = thirdparty/nifi
	url = https://github.com/apache/nifi.git
[submodule "thirdparty/polaris"]
	path = thirdparty/polaris
	url = https://github.com/apache/polaris.git
[submodule "thirdparty/cdpcli"]
	path = thirdparty/cdpcli
	url = https://github.com/rch/cldr-cdpcli.git
[submodule "external/nautilus"]
	path = external/nautilus
	url = git@github.com:weathership/nautilus.git
	branch = trunk
